body{
    background-color: chartreuse;
}
#for{
    display: flex;
    justify-content:center;
    align-items: center;
    background-color:lightcoral;
    border-radius: 20px;
    color:blueviolet;   
}

#hi{
    font-size: 50px;
}
    